language: csharp
solution: SvgToEmbCSV.sln

install:
  - nuget install NUnit.Runners -Version 2.6.4 -OutputDirectory testrunner
script:
  - msbuild /p:Configuration=Release SvgToEmbCSV.sln
  - mono ./testrunner/NUnit.Runners.2.6.4/tools/nunit-console.exe ./SvgToEmbCSVTests/bin/Release/SvgToEmbCSVTests.dll
